{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.login'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col">
        <div class="card w-50 mx-auto shadow-sm">
            <div class="card-header">
                <h1 class="text-center">{{ 'label.login'|trans }}</h1>
            </div>
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form method="post">
                    <div class="mb-3">
                        <label for="input-username">{{ 'label.user'|trans }}</label>
                        <input type="text" value="{{ last_username }}" name="username" placeholder="{{ 'label.user'|trans }}" id="input-username" class="form-control" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="input-password">{{ 'label.password'|trans }}</label>
                        <input type="password" name="password" placeholder="{{ 'label.password'|trans }}" id="input-password" class="form-control" required>
                        <div id="emailHelp" class="form-text">
                            <a href="{{ path('app_forgot_password_request') }}">{{ 'msg.forgot_password'|trans }}</a>
                        </div>
                    </div>
                    <div class="text-end">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary" type="submit">{{ 'label.login'|trans }}</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a href="{{ path('app_register') }}" class="btn btn-secondary">
                    {{ 'label.register'|trans }}
                </a>
                <hr>
                Ou alors avec ton compte facebook<br>
            </div>
        </div>
    </div>
{% endblock %}
